// clearfix
//
// Apply clearfix
//
// Markup:
// <div class="clearfix">clearfix</div>
//
// Styleguide helpers.clearfix

/*
 * YOU WRITE
 * -----------------------------------------------------------------------------
 * span {
 *     .clearfix;
 * }
 *
 * CONVERTS TO:
 * -----------------------------------------------------------------------------
 * span:before,
 * span:after {
 *     content:" ";
 *     display:table;
 * }
 * span:after{}
 *     clear:both;
 * }
 * -----------------------------------------------------------------------------
 */

.clearfix{
	&:before,
	&:after {
		content:" ";
		display:table;
	}
	&:after {
		clear:both;
	}
}
