/* ==========================================================================
   Visibility
   ========================================================================== */

/* Hide
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 *
 * Html example:
 * -----------------------------------------------------------------------------
 * <div class="hide">hide</div>
 *
 * Less example:
 * -----------------------------------------------------------------------------
 * <h1 class="example"><a href="#">My example</a></h1>
 *
 * .example {
 *    .hide()
 * }
 */

.hide {
    display: none;
}

/* Invisible
   ========================================================================== */

/*
 * Hide visually and from screenreaders, but maintain layout
 *
 * Html example:
 * -----------------------------------------------------------------------------
 * <div class="invisible">invisible</div>
 *
 * Less example:
 * -----------------------------------------------------------------------------
 * <h1 class="example"><a href="#">My example</a></h1>
 *
 * .example {
 *    .invisible()
 * }
 */

.invisible {
    visibility: hidden;
}

/* Visually hide
   ========================================================================== */

/*
 * Hide only visually, but available for screenreaders: h5bp.com/v
 *
 * Html example:
 * -----------------------------------------------------------------------------
 * <div class="visuallyhide">visuallyhide</div>
 *
 * Less example:
 * -----------------------------------------------------------------------------
 * <h1 class="example"><a href="#">My example</a></h1>
 *
 * .example {
 *    .visuallyhide()
 * }
 */

.visuallyhide {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0, 0, 0,0);
    margin: -1px;
    padding: 0;
    overflow: hidden;
}
