/* ==========================================================================
   Font size
   ========================================================================== */

/*
 * Font size number. Values rem and px fallback
 *
 * Html example:
 * -----------------------------------------------------------------------------
 * <div class="font-size">.font-size(21);</div>
 *
 * Less example:
 * -----------------------------------------------------------------------------
 * <div class="example">Example</div>
 *
 * .example {
 *     .font-size(16);
 * }
 *
 * Converts to:
 * -----------------------------------------------------------------------------
 * .example {
 *     font-size: 16px;
 *     font-size: 1rem;
 * }
 */

.font-size(@sizeValue) {
    @remValue: @sizeValue / 16;
    @pxValue: (@sizeValue);
    font-size: ~"@{pxValue}px";
    font-size: ~"@{remValue}rem";
}
