/* ==========================================================================
   Variables
   ========================================================================== */

/* Media queries break points variables
   ========================================================================== */

/*
 * Default values for media queries
 */

@screen-xs: 320px;
@screen-s: 480px;
@screen-m: 800px;
@screen-l: 1024px;
@screen-xl: 1440px;
