// Browsers and version support variables
//
// Default values for versions and browser support
//
// @explorer: 10 - Support version for ie
// @firefox: 30 - Support vesion for firefox
// @chrome:30 - Support version for chrome
// @safari: 7 - Support version for safari
// @android: 4.4 - Support version for android
// @ios: 7.1 - Support version for ios
//
// Styleguide core.variables 1

@explorer: 10;
@firefox: 30;
@chrome:30;
@safari: 7;
@android: 4.4;
@ios: 7.1;
@opera: 22;


// Grid components
//
// Default values for grid system basen in columns and rows
//
// @column-width: 65 - default with column
// gutter-width: 21 - detault gutter
// @columns: 12 - number of columns
//
// Styleguide core.variables 3

@column-width: 65;
@gutter-width: 21;
@columns: 12;


// Media queries break points variables
//
// Default values for media queries
//
// @screen-xs: 320px - Xtra small screen
// @screen-s: 480px - Small screen
// @screen-m: 800px - Medium screen
// @screen-l: 1024px - Large screen
// @screen-xl: 1440px - Xtra large screen
//
// Styleguide core.variables 2

@screen-xs: 320px;
@screen-s: 480px;
@screen-m: 800px;
@screen-l: 1024px;
@screen-xl: 1440px;


